.App {
  height: 100vh;
  text-align: center;
  background: url("./media/cold.jpg") no-repeat center center;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.75)
  );
  background-size: cover;
  overflow: hidden;
}

.App.warm {
  height: 100vh;
  background: url("./media/warm.jpg") no-repeat center center;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.75)
  );
  background-size: cover;
  overflow: hidden;
 
}


.searchBox {
  width: 85%;
  margin: 0 auto;
}
.searchBox div {
  width: 100%;
  padding: 10px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.container {
  margin-top: 6rem;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  text-align: center;
  color: rgb(255, 255, 255);
}
.loading div {
  border: 5px solid rgb(255, 255, 255, 0.6);
}
.location {
  color: #fff;
  font-size: 32px !important;
  font-weight: 500 !important;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px !important;
  font-weight: 400 !important;
  text-align: center;
  font-style: italic;
}

.temp {
  color: #fff;
  font-size: 100px !important;
  font-weight: 900 !important;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 25px;
  border-radius: 16px;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.1);
  box-shadow: 3px 6px rgba(50, 50, 70, 0.1);
  text-align: center;
  margin-top: 1rem !important;
}

.sitiuation {
  color: rgba(255, 255, 255);
  font-size: 30px !important;
  font-weight: 700 !important;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  margin-top: 1rem !important;
}
.moodIcon {
  margin-top: 6rem !important;
  font-size: 60px !important;
  color: rgba(255, 255, 255, 0.7);
}

.dissatisfiedIcon {
  font-size: 65px !important;
  color: rgba(255, 255, 255, 0.7);
}
.message {
  font-size: 60px !important;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  padding: 15px 25px;
  text-transform: capitalize;
  text-align: center;
  /* margin-top: 0.1rem !important; */
}

.internet-error {
  height: 60px;
  background: #ff8100;
  margin-top: 0;
  font-size: 20px;
}

.internet-error p {
  font-size: 25px;
  line-height: 60px;
  color: #fff;
  margin: 0;
}